In [1]:
import pandas as pd
from scipy import stats

In [2]:
aqi = pd.read_csv('C:\\Users\\hp\\Desktop\\PYTHON\\Stat\\Day 1\\c4_epa_air_quality.csv')
aqi

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
0,0,2018-01-01,Arizona,Maricopa,Buckeye,BUCKEYE,Carbon monoxide,Parts per million,0.473684,7
1,1,2018-01-01,Ohio,Belmont,Shadyside,Shadyside,Carbon monoxide,Parts per million,0.263158,5
2,2,2018-01-01,Wyoming,Teton,Not in a city,Yellowstone National Park - Old Faithful Snow ...,Carbon monoxide,Parts per million,0.111111,2
3,3,2018-01-01,Pennsylvania,Philadelphia,Philadelphia,North East Waste (NEW),Carbon monoxide,Parts per million,0.300000,3
4,4,2018-01-01,Iowa,Polk,Des Moines,CARPENTER,Carbon monoxide,Parts per million,0.215789,3
...,...,...,...,...,...,...,...,...,...,...
255,255,2018-01-01,District Of Columbia,District of Columbia,Washington,Near Road,Carbon monoxide,Parts per million,0.244444,3
256,256,2018-01-01,Wisconsin,Dodge,Kekoskee,HORICON WILDLIFE AREA,Carbon monoxide,Parts per million,0.200000,2
257,257,2018-01-01,Kentucky,Jefferson,Louisville,CANNONS LANE,Carbon monoxide,Parts per million,0.163158,2
258,258,2018-01-01,Nebraska,Douglas,Omaha,NaN,Carbon monoxide,Parts per million,0.421053,9
259,259,2018-01-01,North Carolina,Wake,Not in a city,Triple Oak,Carbon monoxide,Parts per million,0.188889,2

In [3]:
aqi.describe()

       Unnamed: 0  arithmetic_mean         aqi
count  260.000000       260.000000  260.000000
mean   129.500000         0.403169    6.757692
std     75.199734         0.317902    7.061707
min      0.000000         0.000000    0.000000
25%     64.750000         0.200000    2.000000
50%    129.500000         0.276315    5.000000
75%    194.250000         0.516009    9.000000
max    259.000000         1.921053   50.000000

In [4]:
aqi.value_counts()

Unnamed: 0  date_local  state_name      county_name  city_name                                  local_site_name                 parameter_name   units_of_measure   arithmetic_mean  aqi
0           2018-01-01  Arizona         Maricopa     Buckeye                                    BUCKEYE                         Carbon monoxide  Parts per million  0.473684         7      1
131         2018-01-01  Arizona         Maricopa     Phoenix                                    CENTRAL PHOENIX                 Carbon monoxide  Parts per million  1.110526         27     1
165         2018-01-01  Utah            Weber        Ogden                                      Ogden                           Carbon monoxide  Parts per million  0.326316         7      1
166         2018-01-01  New Jersey      Hudson       Jersey City                                Jersey City                     Carbon monoxide  Parts per million  0.133333         3      1
167         2018-01-01  New York        New York     New York                                   CCNY                            Carbon monoxide  Parts per million  0.200000         2      1
                                                                                                                                                                                           ..
93          2018-01-01  Oklahoma        Oklahoma     Oklahoma City                              Near Road                       Carbon monoxide  Parts per million  0.284211         5      1
94          2018-01-01  Florida         Pinellas     Saint Petersburg                           Sawgrass Lake Park (Near-Road)  Carbon monoxide  Parts per million  0.315789         9      1
95          2018-01-01  Colorado        Mesa         Grand Junction                             GRAND JUNCTION - PITKIN         Carbon monoxide  Parts per million  0.305263         6      1
96          2018-01-01  Minnesota       Dakota       Inver Grove Heights (RR name Inver Grove)  Flint Hills Refinery 423        Carbon monoxide  Parts per million  0.200000         2      1
259         2018-01-01  North Carolina  Wake         Not in a city                              Triple Oak                      Carbon monoxide  Parts per million  0.188889         2      1
Name: count, Length: 257, dtype: int64

In [5]:
aqi.shape()

TypeError: 'tuple' object is not callable

In [ ]:
aqi.head()

STATISTICAL TEST

ROA is considering a metropolitan-focused approach. Within
California, they want to know if the mean AQI in Ohio County is statistically different from the rest of California.

In [40]:
aqi_california = aqi[aqi['state_name'] == 'California']
aqi_california.head(5)

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
16,16,2018-01-01,California,San Bernardino,Ontario,Ontario Near Road (Etiwanda),Carbon monoxide,Parts per million,0.747368,11
18,18,2018-01-01,California,Sacramento,Arden-Arcade,Sacramento-Del Paso Manor,Carbon monoxide,Parts per million,0.752632,16
26,26,2018-01-01,California,Orange,La Habra,La Habra,Carbon monoxide,Parts per million,0.673684,13
27,27,2018-01-01,California,Alameda,Not in a city,Berkeley- Aquatic Park,Carbon monoxide,Parts per million,1.088889,15
33,33,2018-01-01,California,Los Angeles,Lancaster,Lancaster-Division Street,Carbon monoxide,Parts per million,0.394737,7

In [41]:
aqi_new_york = aqi[aqi['county_name'] == 'New York']
aqi_new_york

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
167,167,2018-01-01,New York,New York,New York,CCNY,Carbon monoxide,Parts per million,0.2,2

In [42]:
sample_aqi_california = aqi_california.sample( n=20, replace=True, random_state=100)
sample_aqi_california.head(10)

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
43,43,2018-01-01,California,Contra Costa,Concord,Concord,Carbon monoxide,Parts per million,0.294444,5
110,110,2018-01-01,California,Los Angeles,Los Angeles,Los Angeles-North Main Street,Carbon monoxide,Parts per million,0.900000,16
198,198,2018-01-01,California,Riverside,Palm Springs,Palm Springs,Carbon monoxide,Parts per million,0.157895,3
46,46,2018-01-01,California,Riverside,Mira Loma,Mira Loma (Van Buren),Carbon monoxide,Parts per million,1.231579,27
206,206,2018-01-01,California,San Bernardino,San Bernardino,San Bernardino,Carbon monoxide,Parts per million,1.100000,28
211,211,2018-01-01,California,Fresno,Not in a city,Tranquillity,Carbon monoxide,Parts per million,0.215789,3
63,63,2018-01-01,California,Sacramento,Not in a city,North Highlands-Blackfoot,Carbon monoxide,Parts per million,0.836842,18
148,148,2018-01-01,California,Contra Costa,San Pablo,San Pablo,Carbon monoxide,Parts per million,0.405556,7
110,110,2018-01-01,California,Los Angeles,Los Angeles,Los Angeles-North Main Street,Carbon monoxide,Parts per million,0.900000,16
75,75,2018-01-01,California,San Joaquin,Stockton,Stockton-Hazelton,Carbon monoxide,Parts per million,1.084211,20

In [43]:
sample_aqi_new_york = aqi_new_york.sample( n=20, replace=True, random_state=100)
sample_aqi_new_york.head(5)

,Unnamed: 0,date_local,state_name,county_name,city_name,local_site_name,parameter_name,units_of_measure,arithmetic_mean,aqi
167,167,2018-01-01,New York,New York,New York,CCNY,Carbon monoxide,Parts per million,0.2,2
167,167,2018-01-01,New York,New York,New York,CCNY,Carbon monoxide,Parts per million,0.2,2
167,167,2018-01-01,New York,New York,New York,CCNY,Carbon monoxide,Parts per million,0.2,2
167,167,2018-01-01,New York,New York,New York,CCNY,Carbon monoxide,Parts per million,0.2,2
167,167,2018-01-01,New York,New York,New York,CCNY,Carbon monoxide,Parts per million,0.2,2

In [39]:
stats.ttest_ind(a= sample_aqi_california['aqi'], b= sample_aqi_new_york['aqi'], equal_var=False)   #equal_var set to false cuz we dont want to assume two sample having same variance

C:\Users\hp\anaconda3\Lib\site-packages\scipy\stats\_axis_nan_policy.py:531: RuntimeWarning: Precision loss occurred in moment calculation due to catastrophic cancellation. This occurs when the data are nearly identical. Results may be unreliable.
  res = hypotest_fun_out(*samples, **kwds)

TtestResult(statistic=6.860156974991873, pvalue=1.5174361140551958e-06, df=19.0)

In [44]:
#t value is statistic=6.8601...... 
#p value 1.517...(*100) which is more than 5% is null hypothesis